# container artifacts
.tasbe-base
.octave-base
# temporary testing directories
tmp.*
test-data/

# job data cache
.jobcache

# python and pytest artifacts
*.pyc
.coverage
.pytest_cache/

# apps workflow artifacts
deploy-*
